{{#if display}}
  {{#if salvedFile}}
    {{we-image file=salvedFile size='thumbnail'}}
  {{/if}}

  <button class="btn btn-sm btn-default" {{action 'removeImage'}}>
    <i class="glyphicon glyphicon-remove text-danger"></i> Remover
  </button>
{{else}}

{{/if}}

{{#if salvedFile}}
  {{we-image file=salvedFile size='thumbnail'}}
{{else}}

  <button class="btn btn-sm btn-default" {{action 'openImageUploader'}}>
    <i class="glyphicon glyphicon-plus"></i> Adicionar imagem
  </button>
{{/if}}

{{#bs-modal open=uploadingImage onSubmit=(action "upload" selectedFile) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-picture"></i> Adicionar imagem
    </h4>
  {{/modal.header}}
  {{#modal.body}}

    {{#if uploader}}
      {{#if uploader.isUploading}}
        {{#bs-progress as |p|}}
          {{p.bar value=percent minValue=0 maxValue=100 roundDigits=percent showLabel=true animate=true type="success" striped=true}}
        {{/bs-progress}}
      {{else}}
        <img src={{previewImageSrc}} class="article-image preview"/>
        {{textarea value=description}}
      {{/if}}

      <button class="btn btn-sm btn-default" {{action 'removeImage'}}>
        <i class="glyphicon glyphicon-remove text-danger"></i> Cancelar
      </button>
    {{else}}
      {{image-upload
        uploader=uploader
        url=url
        progress='progress'
        didUpload='didUpload'
        didError='didError'
        selected='selected'
      }}
    {{/if}}

  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="default"}}Cancel{{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}Save{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}