<div class="content-box-large">
  <div class="panel-heading">
    <h1 class="page-header">Dados do usuário</h1>
  </div>
  <div class="panel-body">
    <form {{action "save" model.user on="submit"}}>
    <fieldset>
      <div class="form-group">
        <label>Username</label>
        {{input value=model.user.username class="form-control" placeholder="Nome do usuário" required="required"}}
      </div>
      <div class="form-group">
        <label>DisplayName</label>
        {{input value=model.user.displayName class="form-control" placeholder="Nome de exibição" required="required"}}
      </div>
      <div class="form-group">
        <label>Email</label>
        {{input value=model.user.email class="form-control" placeholder="Email" required="required"}}
      </div>
      <div class="form-group">
        <label>Biografia / sobre</label>
        {{textarea value=model.user.biography class="form-control" rows="4"}}
      </div>
    </fieldset>
    <div>
      <button class="btn btn-primary">
        <i class="fa fa-save"></i>
        Salvar
      </button>

      <div class="pull-right">
        {{#if model.user.active}}
          <button {{action 'changeActiveStatus' model.user false}} type="button" class="btn btn-warning">
            Desativar
          </button>
        {{else}}
          <button {{action 'changeActiveStatus' model.user true}} type="button" class="btn btn-success">
            Ativar
          </button>
        {{/if}}
      </div>
    </div>
  </form>
  </div>
</div>

<div class="content-box-large">
  <div class="panel-heading">
      <div class="panel-title">Mudar senha</div>
    </div>
  <div class="panel-body">
    <form {{action "changePassword" model on="submit"}}>
    <fieldset>
      <div class="form-group">
        <label>Nova senha</label>
        {{input value=model.newPassword class="form-control" placeholder="Digite a nova senha aqui" required="required" type="password"}}
      </div>
      <div class="form-group">
        <label>Repetir a nova senha</label>
        {{input value=model.rNewPassword class="form-control" placeholder="Repita a senha aqui" required="required" type="password"}}
      </div>
    </fieldset>
    <div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        Mudar senha
      </button>
    </div>
  </form>
  </div>
</div>
