<a href="{{record.linkPermanent}}" class="btn btn-default btn-sm" target="blank">
  <i class="glyphicon glyphicon-eye-open"></i>
</a>

{{#link-to 'contents.item' record.id class="btn btn-default btn-sm"}}
  <i class="glyphicon glyphicon-pencil text-success"></i>
{{/link-to}}

{{#if record.published}}
  <button {{action 'changePublishedStatus' record false}} type="button" class="btn btn-default btn-sm">
    <i class="glyphicon glyphicon-unchecked text-danger"></i>
  </button>
{{else}}
  <button {{action 'changePublishedStatus' record true}} type="button" class="btn btn-default btn-sm">
    <i class="glyphicon glyphicon-check text-success"></i>
  </button>
{{/if}}

<button {{action 'deleteRecord' record}} type="button" class="btn btn-default btn-sm">
  <i class="glyphicon glyphicon-remove text-danger"></i>
</button>