{{#if model.record.id}}
  <h1 class="page-header">{{t 'article.edit' title=model.record.title}}</h1>
{{else}}
  <h1 class="page-header">{{t 'article.create'}}</h1>
{{/if}}

<form {{action "save" model.record on="submit"}}>
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'article.form.terms.Data'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-article-title'}}*:</label>
              {{input value=model.record.title class="form-control" placeholder=(t 'form-placeholder-article-title') required="required"}}
            </div>
            <div class="form-group">
              <label>{{t 'form-article-about'}}:</label>
              {{textarea value=model.record.about class="form-control"}}
            </div>
            <div class="form-group">
              <label>{{t 'form-article-body'}}:</label>
              {{tinymce-editor options=editorOptions value=model.record.body}}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'article.form.terms.Images'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-article-featuredImage'}}:</label>
              {{image-uploader value=model.record.featuredImage}}
            </div>
            <div class="form-group">
              <label>{{t 'form-article-images'}}:</label>
              {{image-uploader value=model.record.images multiple=true}}
            </div>
          </fieldset>
        </div>
      </div>

      <div>
        <button class="btn btn-primary">
          <i class="fa fa-save"></i>
          {{t 'article.Save'}}
        </button>
        <button {{action 'goTo' 'articles.index'}} type="button" class="btn btn-default">
          <i class="fa fa-step-backward"></i>
          {{t 'article.find'}}
        </button>
      </div>
    </div>
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'article.form.publish.Title'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>
                {{input type="checkbox" checked=model.record.published}} {{t 'form-article-published'}}?
              </label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'article.form.terms.Title'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-article-category'}}:</label>
              {{#power-select
                search=(action "searchCategoryTerms")
                selected=model.record.category
                onchange=(action (mut model.record.category))
                as |term|
              }}
                {{term}}
              {{/power-select}}
            </div>
            <div class="form-group">
              <label>{{t 'form-article-tags'}}:</label>
              {{#power-select-multiple
                search=(action "searchTagsTerms")
                selected=model.record.tags
                onchange=(action (mut model.record.tags))
                as |term|
              }}
                {{term}}
              {{/power-select-multiple}}
            </div>
          </fieldset>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">{{t 'article.form.terms.Dates'}}</div>
        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label>{{t 'form-article-createdAt'}}:</label>
              {{ember-flatpickr
                altFormat="F j, Y h:i K"
                dateFormat=false
                enableSeconds=false
                enableTime=true
                allowInput=false
                altInputClass='form-control'
                altInput=true
                clickOpens=true
                locale='en'
                mode='single'
                nextArrow='>'
                onChange=(action "changeDate" model.record "createdAt")
                parseDate=false
                placeholder='Choose a Date'
                prevArrow='<'
                timeFormat='H:i'
                value=(readonly model.record.createdAt)
                wrap=false}}
            </div>
            <div class="form-group">
              <label>{{t 'form-article-updatedAt'}}:</label>
              {{ember-flatpickr
                altFormat="F j, Y h:i K"
                dateFormat=false
                enableSeconds=false
                enableTime=true
                allowInput=false
                altInputClass='form-control'
                altInput=true
                clickOpens=true
                locale='en'
                mode='single'
                nextArrow='>'
                onChange=(action "changeDate" model.record "updatedAt")
                parseDate=false
                placeholder='Choose a Date'
                prevArrow='<'
                timeFormat='H:i'
                value=(readonly model.record.updatedAt)
                wrap=false}}
            </div>
          </fieldset>
        </div>
      </div>

    </div>
  </div>
</form>