<div class="row"><div class="col-lg-12">
  {{#if model.isLoading}}
    {{bootstrap-loading}}
  {{else}}
    <form class="form-signin" {{action 'requestPasswordChange' on='submit'}}>
      <h2 class="form-signin-heading">{{t 'auth.forgot-password'}}</h2>

      <div class="form-group">
        <label class="sr-only">{{t 'form-forgot-password-email'}}</label>
        {{input type="email" placeholder=(t "form-placeholder-forgot-password-email") value=model.email required="required" autofocus="true" class="form-control" }}
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">{{t 'form-forgot-password-submit'}}</button>

      <div class="login-form-links">
      {{#link-to 'login'}}
        {{t 'Login'}}
      {{/link-to}}
      </div>
    </form>
  {{/if}}
</div></div>
